# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.mypy_cache/

# ======================
# Virtual Environments
# ======================
venv/
.env/
.env

# ======================
# Logs
# ======================
*.log

# ======================
# IDEs / Editors
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

